<div class="flex justify-between h-full">
    <div class="my-20">
        <div class="m-12 fixed bottom-4 transform -translate-x-1/2 hidden lg:block"> 
            <a href="https://www.theweeknd.com/tour/"
                target="_blank"
                class="bg-transparent font-light uppercase hover:bg-orange-400 text-white py-4 px-12 border border-orange-400 transition duration-300">
                Access Tours
            </a>
        </div>
    </div>

    <latest-album></latest-album>
</div>